node_modules/

pnpm-lock.yaml
.npmrc
.npm/
.pnpm-store/

docker-compose.override.yml
.dockerignore
.devcontainer/.env
.devcontainer/cache
.env
.env.local
.env.*.local

out/
coverage/
*.tsbuildinfo

postgres_data/

dist/
build/
.tmp/
.cache/

.vscode/